# Ignore all files
*

# Do not ignore .gitignore itself
!.gitignore

# Ignore __pycache__ folders
__pycache__/

# Only track Python files
!*.py
!* LICENSE

# Allow directories to be tracked so .py files inside them are also tracked
!*/


